<div>
  <div class="row">
    <div class="col-md-1">
    <h4>Match%</h4>
    </div>
    <div class="col-md-2">
    <h4>Differences</h4>
    </div>
    <div class="col-md-3">
    <h4>Title</h4>
    </div>
    <div class="col-md-2">
    <h4>Artist</h4>
    </div>
    <div class="col-md-2">
    <h4>Isrc</h4>
    </div>
    <div class="col-md-2">
    <h4>Duration</h4>
    </div>
  </div>
  <div class="row recordList" ng-repeat="x in data | orderBy:'-match'" ng-click="cb(x)">
    <div class="col-md-1" ng-bind="::x.match"></div>
    <div class="col-md-2" ng-bind="::x.differences"></div>
    <div class="col-md-3 " ng-bind="::x.record.title"></div>
    <div class="col-md-2" ng-bind="::x.record.artist"></div>
    <div class="col-md-2" ng-bind="::x.record.isrc"></div>
    <div class="col-md-2" ng-bind="::x.record.duration"></div>
  </div>

</div>
