<div>
  <div class="row">
    <div class="col-md-3">
    <h4>Title</h4>
    </div>
    <div class="col-md-3">
    <h4>Artist</h4>
    </div>
    <div class="col-md-3">
    <h4>Isrc</h4>
    </div>
    <div class="col-md-3">
    <h4>Duration</h4>
    </div>
  </div>
  <div class="row recordList" ng-repeat="x in data" ng-click="cb(x)">
    <div class="col-md-3 ">
    {{x.title}}
    </div>
    <div class="col-md-3">
    {{x.artist}}
    </div>
    <div class="col-md-3">
    {{x.isrc}}
    </div>
    <div class="col-md-3">
    {{x.duration}}
    </div>
  </div>

</div>
