<div style="width:100%;margin:15px;">
  <h3>1. Select a song from the input report</h3>
  <h3>2. Select a posible match from match list</h3>
  <!-- <div class="container-fluid"> -->
    <div class="row" style="padding:15px;">
      <div class="col-md-5" style="padding:15px;">
        <h2>Input records</h2>
        <div recordlist data="inputRecords" cb="selectInput"> </div>
      </div>
      <div class="col-md-6 " style="padding:15px;">
        <h2>Matches</h2>
        <div matchlist data="matches" cb="selectMatch" > </div>
      </div>
    </div>
  </div>
</div>
